## Week2 Python Programming

Tania Hernandez Colon Homework

In week2, we've covered:
* Creating **variables** 
* Different **data types**:
    * int
    * float
    * boolean
    * string
* Import **standard library**:
    * math
    
    
* **Data structures**:
    * List
    * Tuples
    * Dictionary
* **Function**:
    * Define function without parameter
        * **def** func():
    * Define function with parameter
        * **def** func(param):
* **Control flow**:
    * if, elif, else
    * for
    * while
* **DataFrame**:
    * Exploring a dataset

The best way to consolidate the knowledge in your mind is by practicing.<br>Please complete the part marked with <span style="color:green">**# TODO**</span>.

[Google](https://google.com) and [Python Documentation](https://docs.python.org/3/contents.html) are your good friends if you have any python questions.

## Variables and types

### Symbol names

Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`. Normal variable names must start with a letter. 

By convention, variable names start with a lower-case letter, and Class names start with a capital letter. 

In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except, 
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

## Assignment


The assignment operator in Python is `=`. Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

Assign an `int` to a variable with name `x` and print its type.

In [ ]:
x = 1
print(type(x))

<class 'int'>

Assign a new value with `string` type to the same variable `x` and print its type.

In [ ]:
x="New string value"
print(type(x))

<class 'str'>

Print the value of a variable that has not been defined, see what error do you get:

In [ ]:
print(type(undefinedVariable))
# NameError: name 'undefinedVariable' is not defined

NameError: ignored

## Operators and comparisons

Most operators and comparisons in Python work as one would expect:

* Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

Print the sum, difference, multiplication, and division between `1` and `2`.

In [ ]:
print(1+2)

3

In [ ]:
print(1-2)

-1

In [ ]:
print(1*2)

2

In [ ]:
print(1/2)

0.5


Carry out Integer division of two float numbers.

In [ ]:
3.4//1.2

2.0

What is the value of `2` Power `15`?

In [ ]:
2**15

32768

* The boolean operators are spelled out as the words `and`, `not`, `or`.

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

Compare two boolean `True` and `False`

In [ ]:
True is not False

True

Use `False` to get `True`

In [ ]:
not False

True

Include both `False` and `True` in your code to get `True`

In [ ]:
not False and True

True

Use two different ways: `==` and `is` to check if `l1` and `l2` is identical.

In [ ]:
l1 = [1, 2]
l2 = [1, 2.0]

In [ ]:
l1 == l2

True

In [ ]:
l1 is l2

False

## Strings

Strings are the variables type that is used for storing text messages.

Create three string variables, and use one `print` to display all three variables.

In [ ]:
string1="Hello "
string2="Data Science Accelerator"
string3="!!!"
print(string1+string2+string3)

Hello Data Science Accelerator!!!
Hello  Data Science Accelerator !!!

Check the length of "Hello world!".

In [ ]:
len("Hello world!")

12

Get the index `0`character in a string.

In [ ]:
a_string = "This is some text"
a_string[0]

'T'

Get the first 3 characters in a string.

In [ ]:
a_string[0:3]

'Thi'

Use a start index and a stop index to get the fifth character in a string.

In [ ]:
s = "Red Ventures"
s[4:5]

'V'

Get the last character in a string.

In [ ]:
s = "Charlotte"
s[len(s)-1]

'e'

#### Escape characters
In Python strings, the backslash "\\" is a special character, also called the **"escape"** character. It is used in representing certain whitespace characters: "\t" is a tab, "\n" is a newline, and "\r" is a carriage return. Conversely, prefixing a special character with "\" turns it into an ordinary character.

Print out the following strings:
<pre>
'    Everything is written in pencil.'

'Everything is written
 in pencil.'
 
'Everything \ is written \ in pencil.'

'Red Ventures brands, just list a few:
   * Bankrate
   * Reviews.com
   * the Points Guy
   * creditcards.com'
</pre>

In [ ]:
print('\tEverything is written in pencil.')

	Everything is written in pencil.

In [ ]:
print('Everything is written \nin pencil.')

Everything is written
in pencil.

In [ ]:
print('Everything \ is written \ in pencil.')

Everything \ is written \ in pencil.

In [ ]:
print('Red Ventures brands, just list a few:\n\t* Bankrate\n\t* Reviews.com\n\t* the Points Guy\n\t* creditcards.com')

Red Ventures brands, just list a few:
	* Bankrate
	* Reviews.com
	* the Points Guy
	* creditcards.com

#### String methods
Here are some of the most common string methods. A method is like a function, but it runs "on" an object. If the variable s is a string, then the code s.lower() runs the lower() method on that string object and returns the result (this idea of a method running on an object is one of the basic ideas that make up Object Oriented Programming, OOP). Here are some of the most common string methods:

lower(), upper(), strip(), isdigit(), startswith(), endswith(), find(), replace(), split(), join()

[Documentation](https://docs.python.org/3/library/stdtypes.html#string-methods)

Convert all letters to lower cases.

In [ ]:
s = 'RED FISH'
s.lower()

'red fish'

Check if string starts with `r`

In [ ]:
s = 'Run Up Escalators'
s.startswith('r')

False

Find the index of the single quote.

In [ ]:
s = "You don't have to lie."
s.find("'")

7

## Type casting
The process of converting the value of one data type to another is called type casting or type conversion.



Cast variable `z` to `int` and print its type.

In [ ]:
z=1.6 #Lets define z as a float number
print(type(z))
z=int(z)
print(type(z))

<class 'float'>
<class 'int'>

Are the types of 1 + 2 and 1.0 + 2 the same?

In [ ]:
print(type(1+2)) 
print(type(1.0+2))

print("Is the same?:",type(1+2)==type(1.0+2))

<class 'int'>
<class 'float'>
Is the same?: False

Add num_int and num_str, you should provide two outputs. One is a string and the other is an int.

In [ ]:
num_int = 123
num_str = "456"

print("String Output", str(num_int)+ num_str)
print("String Number", num_int + int(num_str))

String Output 123456
String Number 579

What happens if you cast `-1` to a boolean?

In [ ]:
bool(-1)

True

## Standard Library
Python’s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. 

For example, the `math` module gives access to the underlying C library functions for floating point math.

[Documentation](https://docs.python.org/3/library/math.html)
<br>
<br>

Import math module and calculate $e^4$.

In [ ]:
import math
math.exp(4)

54.598150033144236

Calculate the value of $log_2(8)$.

In [ ]:
math.log2(8)

3.0

Calculate the value of $\sqrt{100}$.

In [ ]:
math.sqrt(100)

10.0

## List
[List Documentation](https://www.w3schools.com/python/python_lists.asp)

### 1. Fill the ___ parts of code below

In [ ]:
# Let's create an empty list
my_list = []

# Let's add some values
my_list.append('Python')
my_list.append('is ok')
my_list.append('sometimes')

# Let's remove 'sometimes'
my_list.remove('sometimes')

# Let's change the second item
my_list[1] = 'is neat'

In [ ]:
# Let's verify that it's correct
assert my_list == ['Python', 'is neat']

### 2. Create a new list without modifying the original one

In [ ]:
original = ['I', 'am', 'learning', 'hacking', 'in']

In [ ]:
modified = original + ["Python"]
modified[3] = "lists"
print(modified)

['I', 'am', 'learning', 'lists', 'in', 'Python']

In [ ]:
assert original == ['I', 'am', 'learning', 'hacking', 'in']
assert modified == ['I', 'am', 'learning', 'lists', 'in', 'Python']

### 3. Create a merged sorted list

In [ ]:
list1 = [6, 12, 5]
list2 = [6.2, 0, 14, 1]
list3 = [0.9]

In [ ]:
my_list = list1+list2+list3
my_list.sort(reverse=True)

In [ ]:
print(my_list)
assert my_list == [14, 12, 6.2, 6, 5, 1, 0.9, 0]

[14, 12, 6.2, 6, 5, 1, 0.9, 0]

### 4. Loop through a list  
[For Loops Documentation](https://www.w3schools.com/python/python_for_loops.asp)  
[While Loops Documentation](https://www.w3schools.com/python/python_while_loops.asp)

Loop through a list and check:
* If an item is a float, cast the float to int.
* If an item is an int, cast the int to float
* Hint: use isinstance()

In [ ]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [ ]:
# use for loop

loop_list1 = [1101, 704.971, 'Fort Mill']
temp_list = []
for item in loop_list1:
  if isinstance(item, float):
   temp_list.append(int(item))
  elif isinstance(item, int):
   temp_list.append(float(item))
  else:
    temp_list.append(item)


loop_list1 = temp_list

In [ ]:
print(loop_list1)
assert loop_list1 == [1101.0, 704, 'Fort Mill']

[1101.0, 704, 'Fort Mill']

In [ ]:
# use while loop
loop_list2 = [1101, 704.971, 'Fort Mill']
temp_list = []
index = 0
while(index < len(loop_list2)):
  item = loop_list2[index]
  if isinstance(item, float):
   temp_list.append(int(item))
  elif isinstance(item, int):
   temp_list.append(float(item))
  else:
    temp_list.append(item)

  index = index + 1


loop_list2 = temp_list

In [ ]:
print(loop_list2)
assert loop_list2 == [1101.0, 704, 'Fort Mill']

[1101.0, 704, 'Fort Mill']

## Tuples
[Tuples Documentation](https://www.w3schools.com/python/python_tuples.asp)

### 1. Fill the ___ parts of code below

In [ ]:
# create a tuple with items of different data types
my_tuple = (1, 1.2, "Hello There")
print(my_tuple, type(my_tuple))

# Unpack my_tuple in several variables
my_integer, my_float, my_string= my_tuple

# convert my_tuple to list and assign to variable my_list
my_list = list(my_tuple)
print(my_list, type(my_list))

# convert my_list to tuple and assign to variable my_new_tuple
my_new_tuple = tuple(my_list)
print(my_new_tuple, type(my_new_tuple))

(1, 1.2, 'Hello There') <class 'tuple'>
[1, 1.2, 'Hello There'] <class 'list'>
(1, 1.2, 'Hello There') <class 'tuple'>

### 2. Check the immutable property of tuple

In [ ]:
print("TUPLE------------------------------------------------------------------")

rv_tuple = 1101, 'Red', 'Ventures', 'Drive'
print(rv_tuple, type(rv_tuple))
# check id
print(id(rv_tuple))
# modify the variable
rv_tuple = rv_tuple + (29707, )
print(rv_tuple, type(rv_tuple))
# check id
print(id(rv_tuple))

# Do the same exercises as above for a list and see the difference
# Remember list is mutable
print("LIST-------------------------------------------------------------------")
rv_list = [1101, 'Red', 'Ventures', 'Drive']
print(rv_list, type(rv_list))
# check id
print(id(rv_list))
# modify the variable
rv_list = rv_list.append(29707)
print(rv_list, type(rv_list))
# check id
print(id(rv_list))

TUPLE------------------------------------------------------------------
(1101, 'Red', 'Ventures', 'Drive') <class 'tuple'>
139766255168208
(1101, 'Red', 'Ventures', 'Drive', 29707) <class 'tuple'>
139766467093136
LIST-------------------------------------------------------------------
[1101, 'Red', 'Ventures', 'Drive'] <class 'list'>
139766254734224
None <class 'NoneType'>
11125344

### 3. Define Functions  

[Functions Documentation](https://www.w3schools.com/python/python_functions.asp)

Write a function that accepts a string and return the number of uppercase letters and lowercase letters.

In [ ]:
def check_case(input_string):
  uppercase_number=0
  lowercase_number=0
  for letter in input_string:
    if letter.isupper():
      uppercase_number = uppercase_number + 1
    elif letter.islower():
      lowercase_number = lowercase_number + 1

  return uppercase_number, lowercase_number

In [ ]:
my_string = "This is Week3 Python Programming Homework."
assert check_case(my_string)[0] == 5
assert check_case(my_string)[1] == 30

## Dictionary
[Dictionary Documentation](https://www.w3schools.com/python/python_dictionaries.asp)

### 1. Fill the ___ parts of code below

In [ ]:
# create an empty dictionary
my_dict = dict()
print(my_dict, type(my_dict))

# create a dictionary with values
my_dict = {"class":"DSA"}
print(my_dict, type(my_dict))

# add key/value to my_dict
my_dict["week"] = "2"
print(my_dict)

# remove the key you added from my_dict
my_dict.pop("week",None)
print(my_dict)

{} <class 'dict'>
{'class': 'DSA'} <class 'dict'>
{'class': 'DSA', 'week': '2'}
{'class': 'DSA'}

### 2. Sort Dictionary

Print out key/value pair by the ascending order of keys.

In [ ]:
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
for key in sorted(location_dict.keys()):
  print(key,location_dict[key])

Austin TX
Charlotte NC
Los Angeles CA
New York NY

Display the location_dict by the descending order of values.

In [ ]:
location_dict = {'Charlotte': 'NC', 'Austin': 'TX', 'New York': 'NY', 'Los Angeles': 'CA'}
keys = list(location_dict.keys()) # Original order list of keys
values = list(location_dict.values()) # Original order list of values
for v in sorted(values, reverse=True): # Iterating over the descending order of values
  key_index = values.index(v) # Finding the index of the value on the original order
  print(keys[key_index], v) # Getting the key based of that original order and the value

Austin TX
New York NY
Charlotte NC
Los Angeles CA

## Set

Though `set` is not covered in the video materials, it is also one of the major data structures in Python.

[Set Documentation](https://www.w3schools.com/python/python_sets.asp)

### 1. Fill the ____ parts of code below

In [ ]:
# create an set
my_set = set()
print(my_set, type(my_set), '\n')

# create a set with values
my_set = {1,2,3}
print(my_set, type(my_set), '\n')

# add a new value to my_set
# the value should be a different
my_set.add(4)
print(my_set, '\n')


# remove the value you added from my_set
my_set.remove(4)
print(my_set, '\n')

set() <class 'set'>

{1, 2, 3} <class 'set'>

{1, 2, 3, 4}

{1, 2, 3}

### 2. Set Manipulation

Use a list  with duplicated values and a tuple to create two sets respectively, and get a union set between those two.

In [ ]:
the_list = [1,2,2,2,3,3,3,3,4]
the_tuple = (5,6,7,7,8)
set1=set(the_list)
set2=set(the_tuple)
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

Create two sets `my_set1` and `my_set2`, and get values in `my_set1` but not in `my_set2`.

In [ ]:
my_set1 = {1,2,3,4,5}
my_set2 = {3,4,5,6,7,7,8}
my_set1.difference(my_set2)

{1, 2}

## DataFrames

[Dataframe Documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

In [ ]:
import pandas as pd
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

# Download the CSV from the above url.
# This csv is separated by a ';' so we need to add that as a parameter to the read_csv method.
df = pd.read_csv(url, sep=';')

Show the first 6 rows of the `df` dataframe

In [ ]:
df[0:6]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5

In [ ]:
df.head(6)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5

Print out the summary statistics for each dataframe column

In [ ]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [ ]:
print("Number of rows:", len(df))
print("Number of columns:", len(df.columns))

Number of rows: 1599
Number of columns: 12

In [ ]:
print("Columns:", df.columns)

Columns: Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

## Submission

Download completed **Week2_Python_Homework.ipynb** from Google Colab and commit to your personal Github repo you shared with the faculty.